.alert-card {
  background: linear-gradient(
    247.55deg,
    rgba(56, 18, 34, 1) 0%,
    rgba(24, 7, 14, 1) 100%
  );
  box-sizing: border-box;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.alert-card-text {
  color: #ffffff;
  text-align: center;
  font: 400 24px "SeoulHangangCbl-Regular", sans-serif;
}
