@media only screen and (max-width: 600px) {
  .subts-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 15px;
  }
}
